@charset "utf-8";

.headBn{
    background-image: url(../img/pb_storybnjpg_02.jpg);
}
/* 메인 1 */
.main1{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
}
.main1 h2{
    font-size: 35px;
    line-height: 1em;
    letter-spacing: 1.4px;
    margin-bottom: 16px;
}
.m1_txt{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.m1_txt1 a{
    font-size: 15px;
    color: #888;
}
.m1_txt1 a:hover{
    border-bottom: 1px solid #999;
}
.m1_txt2{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    color: #888;
}
/* 메인 2 */
.main2{
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.m2_in{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.m2_in ul{
    display: flex;
    justify-content: center;
}
.m2_in li{
    margin-right: 15px; 
    padding-left: 15px;
    padding-right: 15px;
}
.m2_in li:last-child{
    margin-right: 0;
}
.m2_in li a{
    font-size: 20px;
    color: #888;
    font-weight: 500;
    line-height: 55px;
}
.m2_in li a:hover{
    color: #153a7d;
}
.m2_all{
    border-bottom: 3px solid #153a7d;
}
.m2_in .m2_all a{
    color: #153a7d;
}
/* 메인 3*/
.main3{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.main3 p{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.07);
    color: #888;
    font-weight: 500;
}
.main3 p:last-child{
    margin-right: 0;
}
/* 메인 4 */
.main4{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;    
}
.main4 div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.main4 div:last-child{
    margin-bottom: 100px;
}
.main4 ul{
    display: flex;
}
.m4_photo{
    width: 325px;
    margin-right: 20px;
    position: relative;
}
.m4_photo::after{
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.3));
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.m4_photo:hover::after{
    opacity: 1;
}
.m4_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main4 li{
    width: 335px;
    word-break: keep-all;
}
.m4_name{
    margin-bottom: 25px;
}
.m4_name a{
    color: #153a7d;
}
.m4_title{
    margin-bottom: 20px;
}
.m4_title a{
    color: #222;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
}
.m4_txt{
    margin-bottom: 20px;
}
.m4_txt a{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #333;
    line-height: 1.5em;
}
.m4_title:hover, .m4_txt:hover{
    text-decoration: underline;
}

.m4_date{
    font-size: 10px;
}
.more a{
    display: block;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    color: #222;
    font-size: 18px;
    letter-spacing: 1.2px;
    text-align: center;
    border: 1px solid #222;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 120px;
}
.more a:hover{
    border-color: #153a7d;
    background-color: #d9e1ed;
    transition: 0.5s;
}
